/* CSS document */

body {
    background-color: burlywood;
}

header {
    border-bottom: 4px double black;
}

.startingPlayerScores {
    background-color: blanchedalmond;
    box-sizing: border-box;
}

.gameResults {
    background-color: cornsilk;
    box-sizing: border-box;
}

.displayBox {
    padding: 10px;
    width: 90vw;
    margin: 2px auto;
    border: 2px solid black;
}

.winnerDisplay {
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}
